.navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  color: #0087ad;
  background: linear-gradient(
    0deg,
    rgba(128, 128, 128, 0.25) 0%,
    rgba(128, 128, 128, 0.05) 15%,
    rgba(128, 128, 128, 0.15) 100%
  );
  user-select: none;

  .logo {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      height: 3rem;
    }
  }

  .links {
    display: flex;
    margin: 0 auto;
    gap: 1rem;

    a {
      color: inherit;
      text-decoration: none;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 0.75rem;
      border-radius: 0.25rem;
      transition: 0.5s;

      &:hover {
        background-color: #0087ada6;
        color: white;
      }
    }

    .active {
      background-color: #0087ad;
      color: white;
    }

    .admin {
      color: #ed6c02;
    }

    .adminOn {
      background-color: #ed6c02;
      color: white;
    }

    .admin,
    .adminOn {
      &:hover {
        background-color: #f0af7a;
        color: white;
      }
    }
  }

  .switch {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: gray;
    transition: 0.5s;
  }

  .orange {
    color: #ed6c02;
  }

  .nav_btn {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    height: 3rem;

    .bars {
      color: #0087ad;
      height: 100%;
      width: 100%;
      &:hover {
        color: #0087adbf;
      }
    }

    .times {
      color: white;
      height: 100%;
      width: 100%;
      &:hover {
        scale: 1.25;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    .nav_btn {
      display: flex;
    }

    .nav_close_btn {
      position: absolute;
      left: 2rem;
      top: 0.5rem;
    }

    .logo {
      margin: 0 auto;
    }

    .links {
      position: fixed;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 4rem 0 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 1s;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: white;
        background: none;
      }
    }

    .responsive {
      top: 0;
      height: 100vh;
      transition: 1s;
      background-color: hsla(195, 91%, 35%, 0.85);
      z-index: 2;
    }
  }
}

@media only screen and (max-width: 430px) {
  .switch {
    flex-direction: column;

    span {
      margin-bottom: -0.5rem;
    }
  }
}
