.card {
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  border: 2px solid #0087ad;
  padding: 1rem;
  text-wrap: balance;
  background: linear-gradient(
    0deg,
    rgba(128, 128, 128, 0.15) 0%,
    rgba(255, 255, 255) 15%
  );

  .image {
    width: 10rem;
    height: 10rem;

    img {
      width: 100%;
    }
  }

  .data {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    width: 100%;

    h1 {
      margin-right: 3rem;
      margin-bottom: 0.5rem;
    }

    p {
      max-width: 500px;
      margin: 0.25rem 0;
    }

    .edit {
      all: unset;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.25rem;
      background-color: #ed6c02;
      color: white;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover {
        cursor: pointer;
        background-color: #f0af7a;
        outline: 2px solid #ed6c02;
        color: white;
      }
    }

    .submit {
      all: unset;
      max-width: max-content;
      padding: 1rem 2rem;
      margin: auto 0 0 auto;
      border-radius: 0.25rem;
      background-color: #0087ad;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: #0087ada6;
        outline: 2px solid #0087ad;
      }
    }
  }
}

.loading {
  align-items: center;
  justify-content: center;
  border: 2px solid #0087ad;
  border-radius: 0.5rem;
  min-height: 25rem;
}
